<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>study</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>com.svt.Test1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>test2Servlet</servlet-name>
    <servlet-class>com.svt.Test2</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>배수지</param-value>
    </init-param>
    <init-param>
      <param-name>age</param-name>
      <param-value>25</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>test2Servlet</servlet-name>
    <url-pattern>/itwill</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>gender</param-name>
    <param-value>여자</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>test3Servlet</servlet-name>
    <servlet-class>com.svt.test3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test3Servlet</servlet-name>
    <url-pattern>/ss1</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>Oracle DataSource</description>
    <res-ref-name>jdbc/myOracle</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
    <servlet-name>boardServlet</servlet-name>
    <servlet-class>com.board.BoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardServlet</servlet-name>
    <url-pattern>/boards/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>scoreServlet</servlet-name>
    <servlet-class>com.score.ScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scoreServlet</servlet-name>
    <url-pattern>/scores/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>memberServlet</servlet-name>
    <servlet-class>com.join.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberServlet</servlet-name>
    <url-pattern>/join/*</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>fileTestServlet</servlet-name>
    <servlet-class>com.fileTest.FileTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileTestServlet</servlet-name>
    <url-pattern>/file/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
 	<servlet-name>imageServlet</servlet-name>
  	<servlet-class>com.imageTest.ImageTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>imageServlet</servlet-name>
  	<url-pattern>/image/*</url-pattern>
  </servlet-mapping>
<!--   
  타이머 필터  /* -> 어떤주소가 오던 타이머필터로
  <filter>
  	<filter-name>timerFilter</filter-name>
  	<filter-class>com.filter.TimerFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>timerFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
 -->  
  <!-- CharsetFilter 모든사용자는 이곳을 거치고 UTF-8로 --> 
  <!-- 서블릿 초기화 파라미터 / 컨텍스트 초기화 파라미터 -->
  <!-- charset 초기화값을 UTF-8로 지정 -->
  <filter>
  	<filter-name>CharsetFilter</filter-name>
  	<filter-class>com.filter.CharsetFilter</filter-class>
  	
  	<init-param>
  		<param-name>charset</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>CharsetFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
<!--   
  Login Filter , 나중에는 인터셉터?
  <filter>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>com.filter.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<url-pattern>/boards/*</url-pattern>
  </filter-mapping>
 -->  
<!-- 
  Listener, CountManager를 실행시켜놓음
  <listener>
  	<listener-class>com.event.CountManager</listener-class>
  </listener>
  
  Listener, ContextListener를 실행시켜놓음
  <listener>
  	<listener-class>com.event.ContextListener</listener-class>
  </listener>
 -->  
 
 <servlet>
    <servlet-name>bookServlet</servlet-name>
    <servlet-class>com.book.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookServlet</servlet-name>
    <url-pattern>/itwillbook/*</url-pattern>
  </servlet-mapping>
  
</web-app>